.retroterminal {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  font-family: consolas, monospace;
  font-size: 100% !important;
  webkit-font-size-adjust: none;
  -moz-font-size-adjust: none;
  -khtml-font-size-adjust: none;
  -ms-font-size-adjust: none;
  background-color: black;
  color: #B1FB17
}

.neverending-green {
  background: transparent;
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  color: rgb(2, 100, 60);
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
  vertical-align: baseline
}

.neverending-red {
  background: transparent;
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  color: rgb(150, 13, 33);
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
  vertical-align: baseline
}

#fastSearch { 
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 300px
}      
#fastSearch input { 
  padding: 4px 10px;
  width: 100%;
  height: 31px;
  font-size: 1.6em;
  color: #aaa;
  font-weight: bold;
  background-color: #000;
  border-radius: 3px 3px 0px 0px;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block
}
#searchResults li { 
  list-style: none; 
  margin-left: 0em;
  background-color: #333; 
  border-bottom: 1px dotted #000
}
#searchResults li .title {
  font-size: 1.1em;
  margin-bottom: 10px;
  display: inline-block
}
#searchResults {
  visibility: inherit;
  display: inline-block;
  width: 320px
}
#searchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block
}
#searchResults a:hover, a:focus {
  outline: 0;
  background-color: #666;
  color: #fff
}
  
ul.horizontalList > li {
  display: inline-block;
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
}

ul.socialList > li {
  height: 36px
}

.bridge2me {
  fill: #BABABA;
}

button#GuideTribute {
  display: inline-block;
  cursor: help;
  background-color: #f44336; // red
  font-size: larger;
  -webkit-font-size-adjust: none;
  -moz-font-size-adjust: none;
  text-align: center;
  border: 12px solid #4CAF50; // green
  -moz-border: 12px solid #4CAF50; // green
  -webkit-border: 12px solid #4CAF50; // green
  border-radius: 50%
}

button#GuideTribute:active {
  cursor: crosshair;
  color: #B1FB17 !important
}
